<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>


<div id="container" style="height: 400px; min-width: 310px"></div>
<script>
	var seriesOptions = [],
		seriesCounter = 0,
		names = ['datchik_5'],
		last_id_5;

	function createChart() {

		Highcharts.stockChart('container', {
			chart: {
				type: 'line',
				zoomType: 'x',
			},
			time: {
				timezone: 'Europe/Minsk',
				useUTC: false
			},

			tooltip: {
				enable: true,
				valueDecimals: 2,
				valueSuffix: 'мм/с²',
			},
			rangeSelector: {
				buttons: [{
					count: 60,
					type: 'minute',
					text: '1ч'
				}, {
					count: 320,
					type: 'minute',
					text: '6ч'
				},
				{
					count: 720,
					type: 'minute',
					text: '12ч'
				},
				{
					count: 1440,
					type: 'minute',
					text: '24ч'
				},
				{
					count: 3,
					type: 'day',
					text: '3д'
				},
				{
					count: 7,
					type: 'day',
					text: '7д'
				},
				{
					count: 14,
					type: 'day',
					text: '14д'
				},
				{
					count: 30,
					type: 'day',
					text: '30д'
				},
				{
					type: 'all',
					text: 'Всё'
				}
				],
				inputEnabled: false,
				selected: 5,

				buttonSpacing: 30,
				buttonTheme: { // styles for the buttons
					width: 45,
					style: {
						color: '#000000',
					},
					states: {
						hover: {
							fill: '#42A5F5',
							style: {
								color: 'white'
							}
						},
						select: {
							fill: '#29B6F6',
							style: {
								color: 'white'
							}
						}
					}
				},
			},

			xAxis: {
				type: 'datetime'
			},

			series: seriesOptions
		});
	}

	function success(data_server) {
		var name = data_server['name'];
		var i = 0;
		seriesOptions[i] = {
			name: name,
			data: function () {
				// generate an array of random data
				var data = [],
					time = data_server['time'],
					dat = data_server['data'];

				// console.log(time)
				for (let n = 0; n <= time.length - 1; n++) {
					data.push([
						time[n],
						dat[n]
					]);
				}
				// last_id_5 = data_server['length'];
				// let error_point=0;
				data = data.sort((a, b) => (a[0] - b[0])).filter((item, i, array) => {
					let result = true;
					if ((i != 0) && (item[0] == array[i - 1][0])) {
						// error_point++;
						result = false;
					}
					return result;
				});
				// console.log(error_point);
				return data;
			}()
		};

		seriesCounter += 1;

		if (seriesCounter === names.length) {
			createChart();
		}
	}

	Highcharts.getJSON(
		'/get_data_5',
		success
	);
</script>